body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Index Starts Here */
.floating-btn {
  position: fixed;
  bottom: 5vh;
  right: 10vw;
  font-size: 1.5rem;
  padding: 10px 20px;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
  z-index: 100;
}
.floating-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.16);
}
/* Index Ends Here */

/* Question Card Starts */
.card {
  border: none;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
  padding: 0px 0px;
  margin: 20px 0;
  border: 2px solid transparent;
  animation: fadeIn 1s 0.1s;
}
.card-body {
  padding: 20px 40px;
}
.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.16);
  border: 2px solid #007bff;
}
.nav-link {
  padding: 0;
}
.post-link {
  display: inline-block;
}

/* Question Card Ends */

/* Question Detail Starts Here */
.question-heading {
  margin-bottom: 25px;
  animation: fadeIn 1s;
}
.question-body {
  font-weight: 400;
  animation: fadeIn 1.5s;
}
.question-stats {
  animation: fadeIn 2s;
}
.question-answer {
  animation: fadeIn 2.5s;
}
.upvote {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.liked {
  color: white;
  background-color: #007bff;
  cursor: not-allowed;
  transition: all ease-in-out 0.5s;
}

/* Question Detail Ends Here */
/* Answer Starts Here */
/* Answer Ends Here */
/* Animations Start Here */
/* Animations Start Here */
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
/* Animations Ends Here */
/* Media Queries */
@media only screen and (max-width: 600px) {
  .floating-btn {
    font-size: 1rem;
  }
  .btn-outline-primary {
    margin-top: 10px;
  }
}
/* Media Queries */
